[Unit]
Description=System upgrade service

[Service]
User=root
Type=forking
ExecStart=/etc/init.d/system-upgrade-startup.sh
TimeoutSec=30
Restart=on-failure
RestartSec=30
StartLimitInterval=350
StartLimitBurst=10

[Install]
WantedBy=multi-user.target
